body {
    background-image: url("NGN.jpeg");
  }
  
  h1, h2, p {
    text-align: center;
  }
  .contact {
    width: 50%;
    background-color: #bab7b0;
    margin-left: auto;
    margin-right: auto;
  }